
@media only screen and (max-width: 480px)
{
	/******************** FILTRES *******************/
	.recherche
	{
		width: 280px;
		margin-top: 6px;
		margin-left:0px;
	}

	.bouton
	{
		display: none;
	}

	.loupe
	{
		display: flex;
	}

	.barre
	{
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 25px;
	}

	#forme
	{
		flex-direction: column;
		padding-left: 15px;
	}

	.filtre
	{
	padding: 8px 30px 0px 30px}

	.cercle
	{
		margin-bottom: 10px;
	}

	.saut {
		flex-direction: column;
	}

	/***************** POPULAIRES ****************/
	aside
	{
		min-width: 273px;
		max-width: 480px;
		border-radius: inherit;
	}

	#bloc
	{
		display: inline-flex;
	}

	.populaires
	{
		flex-direction: row;
		width: auto;
		max-width: 300px;
		margin: 0px 0px 15px 0px;
	}

	.texte
	{
		justify-content: space-evenly;
	}

	.photo
	{
		height: 150px;
		width: 150px;
		border-radius: 20px 0px 0px 20px;
		margin-bottom: 0px;
	}

	aside .etoile {
		padding-left: initial;
		margin-top: inherit;
	}

	.fleche
	{
		
	}

	/**************** HEBERGEMENTS ****************/
	section
	{
		min-width: 273px;
		max-width: 480px;
		background-color: transparent;
	}


	article
	{
		width: auto;
	}

	.lit
	{
		width : auto;
		height: auto;
	}

	/**************** ACTIVITES **************/
	#activites
	{	display: inline-flex;
		width: auto;
		min-width: 313px;
		
	}

	.element
	{
		width: auto;
		min-width: 273px;
		max-width: 300px;
		margin-right: 0px;
	}

	.element2
	{
		width: auto;
		min-width: 273px;
		max-width: 480px;
	}

	.rangement1
	{
		padding-bottom: 35px;
		
		min-width: 273px;
		max-width: 300px;
		height: 140px;
		margin-bottom: 20px;
		
	}

	.rangement2
	{
		margin: 10px 0px 0px 0px;
		width: auto;
	}

	.port, .calanque, .fort, .ile, .dame, .parc
	{
		height: 120px;
		    width: fit-content;
		min-width: 273px;
		max-width: 300px;
	object-fit: cover}

	/***************** FOOTER *****************/
	
	footer
	{
		flex-direction: column;
	}

	h4
	{
		width: 80%;
	}

	.foot
	{
		width: 80%;
		margin-right: 0px;
		margin-left: 0px;
		padding-left: 0px;
	}

	.foot:nth-child(2)
	{
		padding-left: 0px;
	}

	.foot:nth-child(3)
	{
		padding-left: 0px;
	}
}