

@media only screen and (max-width: 480px) {
	



body {
	width: 100%;
	margin: auto;
}

h2 {margin-left: 25px;
	margin-top: 25px;
	width: 80%;

}

article h2 {
	
}
/**************** HEADER ***************/
	


header {
	width: auto;
	margin-left: 15px;
	
}

nav ul {
	margin-bottom: 30px;
}

nav a:hover {
	border-top :none;
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: 3px solid #0065FC;
	position: relative;
	left: -35px;
}

nav li:first-child {
	position: absolute;
	top: 20px;
	left:-20px;
}

nav li:nth-child(2) {
	position: absolute;
	top: 20px;
	left: 200px;
	margin-right: 0px;
}

nav li:nth-child(3) {
	position: absolute;
	top :-30px;
	left : 200px;
	margin-right:20px;
}


h1 {
	padding-top: 15px;
	font-size: 1.3em;
}

header p:last-child {
	font-size: 0.9em;
	margin-top: -10px;
	margin-left: 20px;
}


/******************** FILTRES *******************/



.recherche {
	width: 240px;
}

.bouton { 
display: none; }

.loupe {
	background-color: #0065FC;
	visibility: visible;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	color : white;
	position: relative;
	top : -272px;
	left: 269px;
	margin-top: 25px;
}

.info {
	padding: 3px 10px
	
}

.map {

}

header i {
	padding: 10px 9px 8px 9px;
		}

.bulle-billet, .bulle-coeur, .bulle-chien  {
	margin-left: -15px;
	padding-top: -55px;
	margin-bottom:  15px;
	margin-top: -10px;
}

#forme {
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 3px;
	
}

.filtre {
	
	padding-left: 28px;
	padding-right: 20px;
	margin-top: 4px;
	}

/***************** POPULAIRES ****************/

aside {	
	width: 100%;
	padding: inherit;



}

.populaires {
	width: 320px;
	
	margin: 0px 0px 15px 0px;
	
	
	
}

#bloc {
	width: 100%;
	min-width: auto;
	display: flex;
	
	

}

.texte {
	
}

.fleche {
	padding-left: 30px;
}

/**************** HEBERGEMENTS ****************/
section {
	flex-direction: column-reverse;
	flex-wrap: wrap;
	width: 100%;
	


	
	
}

article {
	flex-direction: column;
	background-color: transparent;
	width: auto;
	padding: 0px 0px 0px 0px;
	margin-right: 0px;

	

}

#contener {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	
}

.auberge {
	
	width: 320px;
	margin: 15px 0px 0px 0px;

}

.lit {
	width: 320px;
	

}

article p:last-child{
	margin-left: 15px;
	margin-top: 20px;
}

/**************** ACTIVITES **************/

#activites {
	width: 100%;
	flex-direction: column;
	
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}

.element {
	width: 330px;
	margin-right: 0px;

}

.element2 {
	width: 330px;

}

.rangement1 {
	
	padding-bottom: 15px;
	width: 330px;
	height: 140px;
	margin-bottom: 20px;
	margin-right: inherit;
}

.rangement2 {
	margin: 10px 0px 0px 0px;
}
	
.port1{
	display: flex;
	margin: auto;
	width: 330px;

}

.calanque1 {
	display: flex;
	margin: auto;
	width: 330px;
}

.port { display: none;

}
.calanque {display: none;}
.fort { width: 330px;
height: 120px; }
.ile { width: 330px;
height: 120px; }

.dame {
	width: 330px;
	height: 120px;
}

.parc {
	width: 330px;
	height: 120px;

}

/***************** FOOTER *****************/

footer {
	flex-direction: column;
	
	
	width: 100%;


}

.foot {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
}


}


@media only screen and (max-width: 443px) {

	.loupe {
	background-color: #0065FC;
	visibility: visible;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	color : white;
	position: relative;
	top : -290px;
	left: 269px;
	margin-top: 25px;

}

@media only screen and (max-width: 364px) {

	nav li:nth-child(2) {
	position: absolute;
	top: 20px;
	left: 170px;
	margin-right: 0px;
}

nav li:nth-child(3) {
	position: absolute;
	top :-30px;
	left : 170px;
	margin-right:20px;

	}