
@font-face
{
	font-family: 'Releway';
	src: url('../police/Raleway-VariableFont_wght.ttf') format('truetype');
}

body
{
	font-family: Releway, serif;
	width: 100%;
	margin: auto;
}

header
{
	max-width: 1350px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	    padding-top: 15px;
}

/* ------------------------- NAV -------------------------------------*/
.container-logo-inscription{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
   z-index: 999999999;
}

.nav-element1 a{
    text-decoration: none;
    color: #0065FC;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 85px;
}

.nav-element a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding-left: 85px;
    position: relative;
    bottom: 41px;
}

.nav-element2 a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding-left: 85px;
    position: relative;
    bottom: 41px;
}

.container-link-reverse{
    display: flex;
    align-items: center;
    justify-content:flex-end;  
    margin-right: 200px 
}

  .nav-element a:hover{
        border-top: 2px solid #0065FC; 
        padding-top: 30px;
        margin-left: 85px;
    }

    .nav-element2 a:hover{
        border-top: 2px solid #0065FC; 
        padding-top: 30px;
         padding-left: 85px;

    }    


h1
{
	margin-top: 0px;
}
/*
nav
{
	display: flex;
	justify-content: flex-end;
	position: relative;
	bottom: 16px;
}

.mobile
{
	display: flex;
	flex-direction: row;
}

.ok
{
	color: blue;
	font-weight: bold;
}

nav a
{
	display: flex;
	text-decoration: none;
	color : black;
	list-style-type: none;
	margin-bottom: 20px;
	margin-left: 70px;
	margin-right: 5px;
}

nav a:hover
{
	border-top: 2px solid #0065FC;
	color: #0065FC ;
	font-weight: bold;
	margin-top: -47px;
	padding-top: 45px;
}





/*------------------------- FILTRE ---------------------------------------------*/

.cercle i
{
	color : #0065FC;
}

.saut
{
	 display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0 0px;
    align-items: baseline;
    font-weight: bold;
}

.two 
{
	display: flex;
}

.cercle
{
	height: 45px; 
    width: 45px;
    background-color: #DEEBFF;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
}

.content
{
    display: flex; 
    border: 1px solid #D3D3D3;
    border-radius: 25px;
    height: 45px;
    margin-left: 20px;   
    margin-bottom: 15px;
}

.content:hover
{
	color : #0065FC ;
	cursor: pointer;
	transform: scale(1.12);
}

.content p
{
    padding-left: 5px;
    padding-right: 17px;
    line-height:15px;
}

.class-p-filtres
{
    text-align: center;
}
 
.cercle-info
{	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	color : #0065FC;				/*phrase information*/
	background-color: white;
	border: 2.5px solid #F2F2F2;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 8px;
}

.information {
	display: flex;
}

.information p 
{
	
}
/*----------------Barre de recherche--------------*/ 

.barre 
{
	display: flex;
    height: 30px;
    margin: 25px 0px 25px 0px;
}

.content-icon
{
    height: 40px;
    background-color: #F2F2F2;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px 0px 0px 40px;
}

.fa-map-marker-alt{
    line-height: 40px;
}

.search-text
{
	border : 0.5px solid #F2F2F2;
	height: 40px;
	padding-left: 10px;
	font-weight: bold;
	margin-left: -5px;
}

.bouton
{
 	height: 40px;
    background-color: #0065FC;
    border:none;
    border-radius: 0 20px 20px 0;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}

.loupe
{
  	display: none;
    height: 40px;
    background-color: #0065FC;
    border:none;
    border-radius: 10px;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    font-size: inherit;
}

.fa-search {
	line-height: 40px;
}

/*-------------------------- HEBERGEMENTS----------------------------------------------*/
main
{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	max-width: 1650px;
	margin: auto;
	margin-bottom: 40px;
}

main i
{
color: #0065FC
}

main a
{
	text-decoration: none;
	color : black;
}

section, aside
{
	background-color: #F2F2F2;
	border-radius: 3%;
}

section
{
	max-width: 900px;
	margin-right: 40px;
	padding-top: 10px;
}

section p
{
	padding-left: 8px;
}

section h2
{
	padding-left: 20px;
}

h3
{
	padding-left: 8px;
}

/**********************************/
#contener
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

article
{
	padding: 5px 5px 5px 5px;
	border-radius: 10%;
	margin-bottom: 25px;
	box-shadow: 0px 5px 5px #DFDFDF;
	background-color: white;
}

.lit
{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 120px;
	width: 240px;
}

/***********-----------POPULAIRES ------***********************/
aside
{
	padding:10px 20px 20px 20px;
}

.populaires
{
	display: flex;
	flex-wrap: nowrap;
	border-radius: 10%;
	margin: 30px 0px;
	width: 320px;
	padding: 5px;
	box-shadow: 0px 5px 5px #DFDFDF;
	background-color: white;
}

aside p:nth-child(2)
{
	margin-top: -1px;
}

.photo
{
	height: 150px;
	width: 150px;
	border-radius: 20px 0px 0px 20px;
}

.texte
{
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.etoile
{
	display: flex;
	margin-bottom: 6px;
	padding-left: 8px;
}

.fleche
{
	padding-left: 50px;
}

/*---------------------------ACTIVITES-------------------------------------*/
#ancre_activites
{
	margin-left:auto;
	margin-right: auto;
	max-width: 1350px;
}

#activites
{
	display: flex;
	justify-content: space-around;
	max-width: 1350px;
	margin-left: auto;
	margin-right: auto;
}

#activites a
{
	text-decoration: none;
	color : black;
}

#ancre_activites h2
{
	padding-left: 30px;
}

.element
{
	overflow: hidden;
	box-shadow: 0px 5px 5px #DFDFDF;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 30px;
	width: 300px;
}

.element2
{
	overflow: hidden;
	box-shadow: 0px 5px 5px #DFDFDF;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 30px;
	width: 300px;
}

.rangement1
{
	box-shadow: 0px 5px 5px #DFDFDF;
	border-radius: 20px 20px 20px 20px;
	overflow: hidden;
	background-color: white;
	margin-bottom: 30px;
	height: 400px;
	width: 300px;
}

.rangement2
{
	display: flex;
	flex-direction: column;
	width: 300px;
}

#activites p
{
	padding-left: 10px;
}

/*------------------------FOOTER-------------------------------------------------*/
footer
{
	display: flex;
	background-color: #F2F2F2;
	max-width: 1400px;
	margin: auto;
}

footer a
{
	text-decoration: none;
	color: black;
}

footer li
{
	padding-top: 10px;
	list-style-type: none;
}

.foot
{
	padding-left: 25px;
}

.foot:nth-child(2)
{
	padding-left: 195px;
}

.foot:nth-child(3)
{
	padding-left: 195px;
}

h4
{
	padding-left: 43px;
}