

@font-face {
	font-family: 'Releway';
	src: url('../police/Raleway-VariableFont_wght.ttf') format('truetype');
	
}

body {
	font-family: Releway, serif;
	width: 100%;
    margin: auto;
}



/* ------------------------- NAV -------------------------------------*/
.titre {
	margin-top: 15px;

}

h1 {margin-top: 0px;}

nav {
	display: flex;
	
	justify-content: flex-end;
	position: relative;
	bottom: 16px;
}

.mobile {
	display: flex;
	flex-direction: row;
}

  
.ok {
	color: blue;
	font-weight: bold;}

nav a {
	display: flex;
	text-decoration: none;
	color : black;
	list-style-type: none;	
	margin-bottom: 20px;
	margin-left: 70px;
    margin-right: 5px;
}


nav a
{	
    
   /*width: max-content;*/
}

nav a:hover {	
	border-top: 2px solid #0065FC;
    color: #0065FC ;
   font-weight: bold;
    margin-top: -47px;
    padding-top: 45px;
	
}


/*------------------------- FILTRE ---------------------------------------------*/

header p, h1, .logo, .barre {
	padding-left: 15px;
}

header {
	max-width: 1250px;
	margin: auto;

	
}

header i {
	height: 20px;
	color : #0065FC;
 	margin-top: 5px;
 	margin-bottom: auto;
 	margin-left: 20px;
 	margin-right: 5px;
}

.cercle{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #DEEBFF;
	margin-left: 15px;
}

.cercle .billet {
	position: relative;
	top: 5px;
	right: 10px;
}

.cercle .child {
	position: relative;
	top: 5px;
	right: 6px;
}

.cercle .coeur {
	position: relative;
	top: 6px;
	right: 7px;
}

.cercle .dog {
	position: relative;
	top: 5px;
	right: 8px;
}

main i {
	color: #0065FC
}


.filtre {
	display: flex;
	border-radius: 0px 40px 40px 0px;	
	border-top: 2.5px solid #F2F2F2;
    border-right: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    padding: 8px 40px 0px 40px;
    height: 27px;
  	margin-left: -20px;
	margin-bottom: 0px;
}

.filtre:hover {
	color : #0065FC ;
	cursor: pointer;
	transform: scale(1.12);
}


.map {color :black;
	background-color: #F2F2F2;
	padding: 11px 11px 10px 15px;
	border-radius: 40px 0px 0px 40px;
	margin-left: -5px;
	margin-right: 0px;
}

.info {
	color : #0065FC;
	background-color: white;
	border: 2.5px solid #F2F2F2;
	border-radius: 50%;
	padding: 3px 10px 2px 10px;
}
.saut {
	margin-top: 10px;
}

.bulle-billet {
	display: flex;
}

.bulle-enfant {
	display: flex;
}
.bulle-coeur {
	display: flex;
}
.bulle-chien {
	display: flex;
}

#forme {
	display: flex;
	font-weight: bold;
}

.recherche {
	border : 0.5px solid #F2F2F2;
	height: 40px;
	margin-right: -5px;
	padding-left: 10px;
	font-weight: bold;
	margin-left: -5px;
}

.bouton{
	color: white;
	background-color: #0065FC;
	height: 40px;
	
	margin-bottom: 15px;
	border : none;
	border-radius: 0px 40px 40px 0px;
}


.loupe {
	display: inline;
	visibility: hidden;
}




/*-------------------------- HEBERGEMENTS----------------------------------------------*/

main {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 1650px;
    margin: auto;
    margin-bottom: 40px;
}

main a{
	text-decoration: none;
	color : black;
}

section, aside {
	background-color: #F2F2F2;
	border-radius: 3%;
}

section {
	max-width: 900px;
    margin-right: 40px;
    padding-top: 10px;   
}

section p {
	padding-left: 8px;
}

section h2 {
	padding-left: 20px;
}


 h3 {
 	padding-left: 8px;
 }

/**********************************/


#contener {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


article {
	padding: 5px 5px 5px 5px; 
	border-radius: 10%;
	margin-bottom: 25px;
	box-shadow: 0px 5px 5px #DFDFDF;
	background-color: white;
}

.lit {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 120px;
	width: 240px;
}


/***********-----------POPULAIRES ------***********************/

aside {
	padding:10px 20px 20px 20px;
}

.populaires {
	display: flex;
	flex-wrap: nowrap;
	border-radius: 10%;
	margin: 30px 0px;
	width: 320px;
	padding: 5px;
	box-shadow: 0px 5px 5px #DFDFDF;
	background-color: white;
}

aside p:nth-child(2) {
	margin-top: -1px;
}

.photo {
	height: 150px;
	width: 150px;
	border-radius: 20px 0px 0px 20px;
}

.texte {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}



.etoile {
	display: flex;
	margin-bottom: 6px;
	padding-left: 8px;
}

.fleche {
	padding-left: 50px;
}

/*---------------------------ACTIVITES-------------------------------------*/
#ancre_activites {
	margin-left:auto;
	margin-right: auto;
	max-width: 1350px;
}
 #activites {
	display: flex;
	justify-content: space-around;
	max-width: 1350px;
	margin-left: auto;
	margin-right: auto;
}

#activites a {
	text-decoration: none;
	color : black;
}

#ancre_activites h2 {
	padding-left: 30px;
	}


.element {
	overflow: hidden;
	box-shadow: 0px 5px 5px #DFDFDF;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 30px;
	
	width: 300px;
}

.element2 {
	overflow: hidden;
	box-shadow: 0px 5px 5px #DFDFDF;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 30px;
	width: 300px;
}

.rangement1 {
	box-shadow: 0px 5px 5px #DFDFDF;
	border-radius: 20px 20px 20px 20px;
	overflow: hidden;
	background-color: white;
	margin-bottom: 30px;
	height: 400px;
	width: 300px;

}

.rangement2 {
	display: flex;
	flex-direction: column;
	width: 300px;
}


#activites p {
	padding-left: 10px;
}



/*------------------------FOOTER-------------------------------------------------*/

footer {
	display: flex;
	background-color: #F2F2F2;
	max-width: 1400px;
	margin: auto;
}

footer a {
	text-decoration: none;
	color: black;

}

footer li {
	padding-top: 10px;
	list-style-type: none;
}

.foot {
	padding-left: 25px;
}

.foot:nth-child(2){
	padding-left: 195px;
}

.foot:nth-child(3){
	padding-left: 195px;
	}

h4 {
	padding-left: 43px;
}


