@media only screen and (max-width: 1023px)
  {
  	body {
	width: auto;
	margin :15px 10px;
}

nav { 
	margin-right: 50px;
}

#forme {
	flex-wrap: wrap;
}

main {
	flex-direction: column-reverse;
}

section {
	padding-bottom: 30px;
	margin-right: 0px;
}

aside {
	margin-top: 25px;
	margin-bottom: 15px;
}

#contener{
	justify-content: center;
}

.populaires {
	margin: 8px 0px;
	width: 280px;
}

.texte {
	flex-wrap: wrap;
	margin-top: -12px;
}

#bloc {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


#activites {
	flex-wrap: wrap;
	margin-right: 0px;
}

footer {
	width: auto;
}

.foot {
	margin-right: 5px;
}

}

@media only screen and (max-width: 675px)
  {
  	nav { 
	margin-right: 10px; 
	position: relative;
	top :20px;
}


}