@media only screen and (max-width: 1023px)
  {
  	body {
	width: 100%;
	margin: auto;
}

.titre {
	margin-bottom: 15px;
	width: 100%;

}

nav { 
	width: 45%;	
	
}

nav li a:hover {	
	border-bottom: 2px solid #0065FC;
	border-top: none;
    color: #0065FC ;
    font-weight: normal;
      margin-top: -2px;
      padding-bottom: 15px;
	width: 150%;
}

.mobile{
	position: relative;
	top: 60px;
}

nav li:nth-child(1) {
	margin-right:  80px;
}
nav li:nth-child(2) {
	margin-right:  -50px;
}

nav li:nth-child(3) {
	margin-right: 10px;
}

nav li:nth-child(-n+2) {

}

#forme {
	flex-wrap: wrap;
}

main {
	flex-direction: column-reverse;
	/*width: max-content;
	*/
}

section {
	padding-bottom: 30px;
	margin: auto;
}

aside {

	margin-top: 25px;
	margin-bottom: 15px;
	}

.photo {
	width: 175px;
	height: 175px;
	margin-bottom: 11px;
	border-radius: 20px 20px 0px 0px;

}

.populaires {
	margin: 8px 0px;
	flex-direction: column;
	width: 180px;

}

.texte {
	flex-wrap: wrap;
	margin-top: -12px;
}

#bloc {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


#activites {
	flex-wrap: wrap;
	margin-right: 0px;
	justify-content: space-around;
}

footer {
	width: auto;
	flex-wrap: wrap;
}

.foot {
	margin-right: 5px;
}

.foot:nth-child(2){
	padding-left: 30px;
	}

.foot:nth-child(3){
	padding-left: 30px;
	}
}