
@media only screen and (max-width: 1023px)
{
	.container-link-reverse
	{
		display: flex;
		align-items: center;
		justify-content:space-between;
		margin-top: 60px;
		width: 100%;
	}

	.nav-element1 a
	{
		text-decoration: none;
		color: #0065FC;
		font-size: 1.2em;
		padding-left: 40px;
	}

	.nav-element a
	{
		text-decoration: none;
		color: black;
		font-size: 1.2em;
		padding: inherit;
		position: initial;
		bottom: inherit;
	}

	.nav-element2 a
	{
		text-decoration: none;
		color: black;
		font-size: 1.2em;
		padding: inherit;
		position: initial;
		bottom: inherit;
	}

	nav
	{
		margin: 0;
	}

	.nav-element
	{
		width: 50%;
		text-align: center;
		border-bottom: 1px solid grey;
		padding-bottom: 30px;
	}

	.nav-element2
	{
		width: 50%;
		text-align: center;
		border-bottom: 1px solid grey;
		padding-bottom: 30px;
	}

	.nav-element:hover
	{
		border-top:none;
		color: #0065FC;
		border-top: none;
		border-bottom: 1px solid blue;
		padding-bottom: 30px;
		margin-bottom: -2px;
	}

	.nav-element2:hover
	{
		border-top:none;
		color: #0065FC;
		border-top: none;
		border-bottom: 1px solid blue;
		padding-bottom: 30px;
		margin-bottom: -2px;
	}

	.container-link-reverse a:hover
	{
		color:#0065FC;
	}

	#forme
	{
		flex-wrap: wrap;
	}

	main
	{
		flex-direction: column-reverse;
	}

	section
	{
		padding-bottom: 30px;
		margin: auto;
	}

	aside
	{
		margin-top: 25px;
		margin-bottom: 15px;
	}

	.photo
	{
		width: 175px;
		height: 175px;
		margin-bottom: 11px;
		border-radius: 20px 20px 0px 0px;
	}

	.populaires
	{
		margin: 8px 0px;
		flex-direction: column;
		width: 180px;
	}

	.texte
	{
		flex-wrap: wrap;
		margin-top: -12px;
	}

	#bloc
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#activites
	{
		flex-wrap: wrap;
		margin-right: 0px;
		justify-content: space-around;
	}

	footer
	{
		width: auto;
		flex-wrap: wrap;
	}

	.foot
	{
		margin-right: 5px;
	}

	.foot:nth-child(2)
	{
		padding-left: 30px;
	}

	.foot:nth-child(3)
	{
		padding-left: 30px;
	}
}