  
@media screen and (max-width: 480px)
{
	#bloc_page {
        width: 480px;
        margin: auto;
       
    }

section {
	flex-direction: column;
}




























header, article, aside, footer {
	width: 480px;
	margin: auto;
	flex-direction: column;
}






}