@media all and (max-width: 480px) {
	

#bloc_page {
	width: 300px;
	margin-left: 9px;
	

	
}

header {
	width: 300px;
	
}

nav ul {
	margin-bottom: 30px;
}

nav a:hover {
	border-top :none;
	padding-left: 0px;
	padding-right: 0px;
}

nav li:first-child {
	position: absolute;
	top: 60px;
	right: 140px;
}

nav li:nth-child(2) {
	position: absolute;
	top: 60px;
	right: 155px;
}

nav li:nth-child(3) {
	position: absolute;
	right: 110px;
}












h1 {
	padding-top: 15px;
	/*padding-right: -20px;*/
	font-size: 1.3em;
}

header p:last-child {
	font-size: 0.9em;
	margin-top: -10px;
	
}

.recherche {
	width: 240px;
}

.bouton { 
display: none; }

.loupe {
	background-color: #0065FC;
	visibility: visible;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	color : white;
	position: relative;
	bottom: 288px;
	left: 269px;
}

.info {
	padding: 2px 6px
	
}

header i {
	padding: 10px 9px 8px 9px;
		}

.bulle-billet, .bulle-coeur, .bulle-chien  {
	margin-left: -15px;
	padding-top: -55px;
	margin-bottom:  15px;
	margin-top: -10px;
}

#forme {
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 3px;
	
}

.filtre {
	
	padding-left: 28px;
	padding-right: 20px;
	margin-top: 4px;
	}

header p:last-child {
	padding-left: 25px;
}



section {
	flex-direction: column-reverse;
	justify-content: center;
	width: 320px;
	
	
}

article {
	background-color: transparent;
	width: 380px;
	padding: 0px 0px;
	margin: 0px 0px;

}

.auberge {
	
	width: 330px;

}

.lit {
	width: 330px;
	

}

aside {
	width: 371px;
	margin-left: -16px;
	border-radius: 0px;
}

.populaires {
	width: 340px;
	margin-left: 5px;
}



#activites {
	width: 330px;
	justify-content: center;
	flex-wrap: wrap;
	margin-left:-20px;

}

.element {
	width: 340px;
	

}

.element2 {
	width: 340px;

}

.rangement1 {
	margin-right: -68px;
	margin-left: 15px;
	padding-bottom: 15px;
	width: 340px;
	height: 140px;
	margin-bottom: 20px;
}

.rangement2 {
	margin: 10px 0px 0px 40px;
}
	
.port1{
	display: flex;
	margin: auto;
	width: 340px;

}

.calanque1 {
	display: flex;
	margin: auto;
	width: 340px;
}

.port { display: none;

}
.calanque {display: none;}
.fort { width: 340px;
height: 120px; }
.ile { width: 340px;
height: 120px; }

.dame {
	width: 340px;
	height: 120px;
}

.parc {
	width: 340px;
	height: 120px;

}
footer {
	flex-direction: column;
	width: 320px;
	margin-left: 0px;
	padding-bottom: 15px;
	margin-top: -20px;
}

.foot {
	width: 320px;
	
	margin-left: -20px;
}


}


