@font-face {
	font-family: 'Releway';
	src: url('Raleway-VariableFont_wght.ttf') format('truetype');
	src: url('Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
	font-family: Releway, serif;
}

#bloc_page
{
    width: 1200px;
    margin: auto;
}


/* --------------------------------------------------------------*/
nav {
	display: flex;
	justify-content: flex-end;
	
}

nav ul {
	display: flex;
	
}

nav a {
	text-decoration: none;
	color: #0065FC ;
	font-weight: bold;

}

nav li
{
    margin-right: 50px;
}

nav a:hover
{
    color: black;
    border-top: 2px solid black;
}

ul{
	list-style-type: none;
}

/*----------------------------------------------------------------------*/

footer {
	background-color: #F2F2F2;
}

header i {
	background-color: #DEEBFF;
	border-radius: 50%;
	padding: 10px 10px;
	height: 50%;
 	margin-top: auto;
 	margin-bottom: auto;

}

i {
	color : #0065FC;
	   



}

#filtre {
	display: flex;
	border-radius: 0px 40px 40px 0px;	
	border-top: 0.5px solid #F2F2F2;
    border-right: 0.5px solid #F2F2F2;
    border-bottom: 0.5px solid #F2F2F2;
    padding: 1px 40px;
    height: 35px;
    margin-top : 15px;
	margin-left: -20px;
	margin-right: 20px;

		
}

#forme {
	display: flex;
	font-weight: bold;
}

.recherche {
	border : 0.5px solid #F2F2F2;
	height: 30px;
	margin-right: -5px;
	padding-left: 10px;
		font-weight: bold;

}

.bouton{
	color: white;
	background-color: #0065FC;
	height: 30px;
	
	margin-bottom: 15px;
	border : none;
	border-radius: 0px 40px 40px 0px;
}
/*------------------------------------------------------------------------*/

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
	background-color: #F2F2F2;
	border-radius: 2%;
    text-align: justify;
    padding:20px 20px;
}

article
{
    margin-right: 30px;
    
}

#contener { /*hébergements*/
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}


#auberge {
	overflow: hidden;
	background-color: white;
	border : 5px solid white;
	border-radius: 15px;
	margin :15px; 
}

#populaires {
	display: flex;
	flex-wrap: wrap;
		overflow: hidden;

	background-color: white;
	border : 5px solid white;
	border-radius: 15px;
	padding-bottom: 1px;
}

/*------------------------------------------------------------------------*/

#activites {
	display: flex;
	justify-content: space-around;
	align-content: center;
}




/*-------------------------------------------------------------------------*/
footer { 
	display: flex;
	justify-content: space-between;
	align-content: flex-start; 
}
	