@font-face {
	font-family: 'Releway';
	src: url('Raleway-VariableFont_wght.ttf') format('truetype');
	src: url('Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
	font-family: Releway, serif;
}

#bloc_page
{
    width: 1450px;
    margin: auto;
}


/* --------------------------------------------------------------*/
nav {
	display: flex;
	justify-content: space-between;
	

	
}

nav ul {
	display: flex;
	
}

nav a {
	text-decoration: none;
	color: #0065FC ;
	font-weight: bold;


	
}

nav li
{
    margin-right: 50px;

}

nav a:hover
{
    color: black;
    border-top: 2px solid black;
}


ul{
	list-style-type: none;
}

/*----------------------------------------------------------------------*/

footer {
	background-color: #F2F2F2;
}

header i {
	background-color: #DEEBFF;
	border-radius: 50%;
	padding: 10px 10px;
	height: 50%;
 	margin-top: auto;
 	margin-bottom: auto;
 	margin-left: 20px;

}

i {
	color : #0065FC;
	   



}

#filtre {
	display: flex;
	border-radius: 0px 40px 40px 0px;	
	border-top: 2.5px solid #F2F2F2;
    border-right: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    padding: 8px 40px 0px 40px;
    height: 27px;
    margin-top : 15px;
	margin-left: -20px;
	margin-bottom: 0px;

}


span {
	background-color: #F2F2F2;
	padding: 11px 13px;
	border-radius: 40px 0px 0px 40px;
}

.info {
	color : #0065FC;
	background-color: white;
	border: 2.5px solid #F2F2F2;
	border-radius: 50%;
}



#forme {
	display: flex;
	font-weight: bold;
}

.recherche {
	border : 0.5px solid #F2F2F2;
	height: 40px;
	margin-right: -5px;
	padding-left: 10px;
	font-weight: bold;

}

.bouton{
	color: white;
	background-color: #0065FC;
	height: 40px;
	
	margin-bottom: 15px;
	border : none;
	border-radius: 0px 40px 40px 0px;
}
/*------------------------------------------------------------------------*/

section
{
    display: flex;
    margin-bottom: 40px;
}

article, aside
{
	background-color: #F2F2F2;
	border-radius: 3%;
    text-align: justify;
    
}

article
{
    margin-right: 50px;
    padding-left: 20px;
    padding-top: 10px;
    
}

aside {
	/*margin-right: 80px;*/
	padding:10px 20px 20px 20px;
}

/**********************************/

#contener { /*hébergements*/
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}


#auberge {
	overflow: hidden;
	background-color: white;
	border : 5px solid white;
	border-radius: 15px;
	margin-right: 25px; 
	margin-left: 25px;
	margin-bottom: 25px;

}

.lit {
	height: 120px;
	width: 260px;
}
/**********************************/

#populaires {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	background-color: white;
	border : 5px solid white;
	border-radius: 20px;
	margin :30px 0px;
	width: 320px;
	padding-right: 10px;
}


.photo {

	height: 140px;
	width: 140px;
	border-radius: 20px 0px 0px 20px;
	}

#texte {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}

#etoile {
	display: flex;
	
	
}
/*------------------------------------------------------------------------*/

 #activites {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.element {
	overflow: hidden;
	background-color: white;
	box-shadow: -1px 18px 31px -17px rgba(235,235,235,1);
	border : 5px solid white;
	border-radius: 15px;
	
}

.rangement2 {
	display: flex;
	flex-direction: column;
	margin : 10px 20px;
}

/*-------------------------------------------------------------------------*/
footer { 
	display: flex;
	justify-content: space-around;
	align-content: flex-start; 
}
	