@media all and (max-width: 768px) and (min-width: 481px)
  {
  	#bloc_page {
	width: auto;
	margin :15px 10px;
	
}

nav { 
	margin-right: 50px;
	position: relative;
	top: 20px;

}

#forme {
	flex-wrap: wrap;
	
}

.filtre {

}

section {
	flex-direction: column-reverse;

}

article {
	padding-bottom: 30px;
	margin-right: 0px;
}

aside {
	margin-top: 25px;

}

#contener{
	justify-content: center;
}

.populaires {
margin: 8px 0px;
width: 280px;
}

.texte {
	flex-wrap: wrap;
	margin-top: -12px;
	
}

#bloc {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


#activites {
	flex-wrap: wrap;
	margin-right: 0px;
}

footer {
	width: auto;
}

.foot {
	margin-right: 5px;
}































}